In [30]:
from tensorflow.keras.preprocessing.text import Tokenizer
import tensorflow as tf
import pandas as pd
import os

In [19]:
file_path = 'data/fra.txt'
lines = pd.read_csv(file_path, names=['eng', 'fra', 'cc'], sep='\t')
print('전체 샘플의 수 :',len(lines))

lines = lines[['eng', 'fra']][:33000] # 33000개 샘플 사용
print('사용 샘플의 수 :',len(lines))

lines_org = lines.copy()
lines.sample(5)

전체 샘플의 수 : 194513
사용 샘플의 수 : 33000

                       eng                  fra
12255      Tom's cheerful.      Tom est joyeux.
16000     Tom fell silent.          Tom se tut.
1381            Say "aah."       Dis « ahhh » !
25047   Let go of my hand.  Lâche-moi la main !
30405  I'm sorry I'm late.  Excusez mon retard.

In [33]:
lines_org = lines.copy()

for col in lines.columns:
  lines[col] = lines[col].str.replace(r"([.,!?':;-])", r' \1 ')
  lines[col] = lines[col].str.lower()
  lines[col] = lines[col].str.split()
lines.sample(5)

/var/folders/3c/92085pds035_bky462x8tl0h0000gn/T/ipykernel_16238/158974046.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  lines[col] = lines[col].str.replace(r"([.,!?':;-])", r' \1 ')

                             eng                                   fra
2101        [i, ', m, famous, .]                  [je, suis, connu, .]
12153      [tom, loves, dogs, .]           [tom, aime, les, chiens, .]
6613        [are, you, there, ?]                         [t’es, là, ?]
26930  [we, were, all, happy, .]  [nous, étions, toutes, heureuses, .]
4626          [fear, nothing, .]       [n, ', aie, aucune, crainte, .]

In [34]:
lines

                              eng                                         fra
0                         [go, .]                                     [va, !]
1                         [go, .]                                 [marche, .]
2                         [go, .]                                  [bouge, !]
3                         [hi, .]                                  [salut, !]
4                         [hi, .]                                  [salut, .]
...                           ...                                         ...
32995  [what, did, tom, steal, ?]   [qu, ', est, -, ce, que, tom, a, volé, ?]
32996  [what, did, tom, write, ?]  [qu, ', est, -, ce, que, tom, a, écrit, ?]
32997  [what, did, they, want, ?]                 [que, voulaient, -, ils, ?]
32998  [what, did, they, want, ?]               [que, voulaient, -, elles, ?]
32999  [what, did, you, drink, ?]                   [qu, ', as, -, tu, bu, ?]

[33000 rows x 2 columns]

In [35]:
eng_tokenizer = Tokenizer()   # 문자 단위로 Tokenizer를 생성합니다. 
eng_tokenizer.fit_on_texts(lines.eng)               # 33000개의 행을 가진 eng의 각 행에 토큰화를 수행
input_text = eng_tokenizer.texts_to_sequences(lines.eng)    # 단어를 숫자값 인덱스로 변환하여 저장
input_text[:3]

[[30, 1], [30, 1], [30, 1]]

In [37]:
fra_tokenizer = Tokenizer()   # 문자 단위로 Tokenizer를 생성합니다. 
fra_tokenizer.fit_on_texts(lines.fra)               # 33000개의 행을 가진 eng의 각 행에 토큰화를 수행
target_text = fra_tokenizer.texts_to_sequences(lines.fra)    # 단어를 숫자값 인덱스로 변환하여 저장
target_text[:3]

[[72, 8], [354, 1], [687, 8]]

In [38]:
eng_vocab_size = len(eng_tokenizer.word_index) + 1
fra_vocab_size = len(fra_tokenizer.word_index) + 1
print('영어 단어장의 크기 :', eng_vocab_size)
print('프랑스어 단어장의 크기 :', fra_vocab_size)

영어 단어장의 크기 : 4711
프랑스어 단어장의 크기 : 8620

In [39]:
max_eng_seq_len = max([len(line) for line in input_text])
max_fra_seq_len = max([len(line) for line in target_text])
print('영어 시퀀스의 최대 길이', max_eng_seq_len)
print('프랑스어 시퀀스의 최대 길이', max_fra_seq_len)

영어 시퀀스의 최대 길이 10
프랑스어 시퀀스의 최대 길이 18