# 1 day

## 목차
- 기본 문법 알아보기
- 숫자 계산하기
- 변수와 입력 사용하기
- 출력 방법 알아보기
- 불과 비교, 논리 연산자 알아보기
- 문자열 사용하기
- 리스트와 튜플 사용하기
- 시퀀스 자료형 활용하기

## 기본 문법 알아보기

### 세미콜론
***

In [1]:
# 세미콜론 필수 아님
print(0)

# 한 줄 여러 구문 사용시 사용
print(1);print(2)

0
1
2

### 주석
***

In [2]:
# `ctrl + /`를 누르면 자동으로 주석처리 됨

print(0) # 뒤에 한줄 주석 가능

0

### 들여쓰기
***

In [3]:
# 들여쓰기로 코드 블록을 만듬
if 10 == '10':
  print('True')

### 코드 블록
***

In [4]:
# 만들 때, tab과 스페이스를 섞어 사용하면 안됨

## 숫자 계산하기

### 정수 계산하기
***

In [5]:
# 사칙 연산 가능
print(3 + 3, 3 - 3, 3 * 3, 3 / 3)

# 몫, 나머지 연산 가능
print(3 // 3, 3 % 3)

# 거듭제곱 가능
print(3 ** 3)

# 값을 정수로 변경할 수 있음
print(int(3.3))

# 자료형 확인
print(type(3))

6 0 9 1.0
1 0
27
3
<class 'int'>

### 실수 계산하기
***

In [6]:
# 똑같이 연산이 되지만 오차가 있음
print(3.3 + 3.3, 3.3 - 3.3, 3.3 * 3.3, 3.3 / 3.3)

# 실수와 정수 계산시 실수화
print(3 + 3.3)

# 값을 실수로 변경할 수 있음
print(float('3.3'))

# 자료형 확인
print(type(3.3))

6.6 0.0 10.889999999999999 1.0
6.3
3.3
<class 'float'>

### 괄호 사용하기
***

In [7]:
# 괄호 사용 가능
print(1 + 2 * 3, (1 + 2) * 3)

7 9

## 변수와 입력 사용하기

### 변수 만들기
***

In [8]:
# 변수 여러 개 만들기
x, y = 10, 'Hello world'

# 변수 자료형 확인
print(type(x), type(y))

# 동일한 내용으로 변수 만들기
x = y = 10 

# 만든 변수를 삭제할 수 있음
del x

<class 'int'> <class 'str'>

### 변수로 계산하기
***

In [9]:
a = b = 1

# 변수간 계산이 가능함
a + b

# 변한 값을 다시 할당 해야함
a = a + 1

# 변수를 2번 적기 귀찮으니 생략 가능
a += 1

### 입력 값을 변수에 저장하기
***

In [10]:
# 입력창이 뜨면 입력하면 됨
#input('문자열을 입력하세요 : ')

# 변수에 입력값을 할당할 수 있음
#x = input()

# input은 문자열로 받기 때문에 type을 변경해 줘야함

### 입력 값을 변수 두 개에 저장하기
***

In [11]:
# 값을 2개 받아 옴(2개 이상은 에러가 발생)
# 숫자가 아니라면 map을 빼고 사용
# 나누는 기준을 `,`로 사용, 비어있으면 ` ` 기준
#a, b = map(int, input().split(','))

## 출력 방법 알아보기

### 값을 여러개 출력하기
***

In [12]:
# 위에서 사용함
# 나누는 기준을 `,`로 사용, 비어있으면 ` ` 기준
print(1, 2, 3, sep= ',')

1,2,3

### 줄바꿈 활용하기
***

In [13]:
# \n은 줄바꿈 기호
print('1\n2')

# end를 설정해서 print가 동시에 되도록 변경 가능
print('1', end=' ');print('2', end=' ');print('3', end=' ')

1
2
1 2 3

## 불과 비교, 논리 연산자 알아보기

### 불과 비교 연산자 사용하기
***

In [14]:
# True False 라는 불리언이 있음
True, False

# 같은지 다른지 확인 가능
print(10 == 10, 10 != 5, 't' == 't')

# 부등호 가능
print(10 < 10, 10 <= 10, 10 > 10, 10 >= 10)

# 객체 비교 가능
print(1 == 1.0, 1 is 1.0, 1 is not 1.0)

True True True
False True False True
True False True

<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:11: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:11: SyntaxWarning: "is not" with a literal. Did you mean "!="?
/var/folders/3c/92085pds035_bky462x8tl0h0000gn/T/ipykernel_11647/54897342.py:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 == 1.0, 1 is 1.0, 1 is not 1.0)
/var/folders/3c/92085pds035_bky462x8tl0h0000gn/T/ipykernel_11647/54897342.py:11: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 == 1.0, 1 is 1.0, 1 is not 1.0)

### 논리 연산자 사용하기
***

In [15]:
# not, and, or 순으로 연산
# 괄호로 순서 변경 가능
print(not True, True and True, False or False)

False True False

## 문자열 사용하기

### 문자열 사용하기
***

In [16]:
# 문자열을 선언할 때, `'` 또는 `"`를 사용할 수 있음
text = 'text'
text = "text"

# 3번 연속으로 사용하면 여러 줄 입력이 가능
text = '''
text'''
text = """text
"""

## 리스트와 튜플 사용하기

### 리스트 만들기
***

In [17]:
# 리스트 만들기
a = [1, 2.2, '3']

# 빈 리스트 만들기
a = [] = list()

# range(시작, 끝, 증가폭) 사용한 리스트
a = list(range(1, 10, 2))
print(a)

[1, 3, 5, 7, 9]

### 튜플 사용하기
***

In [18]:
# 튜플은 2가지 방법으로 만들 수 있음
a = 1, 2.2, '3'
a = (1, 2.2, '3')

# 요소가 한 개인 튜플 가능
a = (1,)

# range(시작, 끝, 증가폭) 사용한 튜플
a = tuple(range(1, 10, 2))
print(a)

# 리스트와 튜플 변경하기
a = list(a)
print(a)
a = tuple(a)
print(a)

(1, 3, 5, 7, 9)
[1, 3, 5, 7, 9]
(1, 3, 5, 7, 9)

## 시퀀스 자료형 활용하기

### 시퀀스 자료형의 공통 기능 사용하기
***

In [19]:
# 자주 사용하는 시퀀스 자료형은 4가지(리스트, 튜플, range, 문자열)
my_list = [1, 2, 3]
my_tuple = 1, 2, 3
my_range = range(3)
my_str = '123'

# 시퀀스 객체의 요소 확인
print(1 in my_list, 1 not in my_tuple)

# 객체 연결(단, range 불가)
print([1, 2] + [3])
#print(range(3) + range(3))

# 반복(단, range 불가)
print(my_str * 2)

True False
[1, 2, 3]
123123

### 시퀀스 객체의 요소 개수 구하기
***

In [20]:
# 리스트와 튜플의 요소 개수 구하기
len(my_range)

3

### 인덱스 사용하기
***

In [21]:
# 위치 정보로 접근하기(음수 가능)
print(my_range[-1])

# 범위를 벗어나면 오류 발생

# 요소에 값 할당하기(tuple과 range는 변경 불가)
my_list[1] = 4

# 요소 삭제 가능(tuple과 range는 변경 불가)
del my_list[1]

2

### 슬라이스 사용하기
***

In [22]:
# range와 동일하게 시작, 종료, 증가폭 설정 가능
print(my_tuple[1:-1:2])

# 인덱스 생략 가능 시작, 종료 설정 가능
print(my_str[::])

# 슬라이스로 칸 넣기
my_list[:2:] = [3]
print(my_list)

# 슬라이스 삭제 가능
del my_list[::4]
print(my_list)

(2,)
123
[3]
[]

# 300제(01 ~ 10, 11 ~ 20)

## 01 ~ 10(print 사용법, 문자열, `\`, 기본 연산)

In [23]:
print('Hello World')

Hello World

In [24]:
print("Mary's cosmetics")

Mary's cosmetics

In [25]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [26]:
print('"C:\\Windows"')

"C:\Windows"

\t는 탭, \n는 줄바꿈

오늘은 일요일

In [27]:
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [28]:
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [29]:
print("first", end='');print("second")

firstsecond

In [30]:
print(5/3)

1.6666666666666667

## 11 ~ 20(변수, type 확인, 형 변환)

In [31]:
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [32]:
시가총액 = '298조'
현재가 = 50000
PER = 15.79

In [33]:
s = "hello"
t = "python"
print(s + '!', t)

hello! python

8

In [34]:
a = "132"
print(type(a))

<class 'str'>

In [35]:
num_str = "720"
num_str = int(num_str)

In [36]:
num = 100
num = int(num)

In [37]:
num = '15.79'
num = float(num)

In [38]:
year = "2020"
year = int(year)
print(year - 1, year - 2, year - 3)

2019 2018 2017

In [39]:
money = 38583
month = 36
print(money * month)

1388988